apiVersion: v1
kind: PersistentVolume
metadata:
  name: local-mongodb-pv
  labels:
    type: local
spec:
  storageClassName: standard
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/tmp/mongodb"
    type: DirectoryOrCreate